
body{
    background-color: rgb(227, 255, 255);
}
table,th,td{
    border: 1px solid black;
    table-layout: auto;
    border-collapse: collapse;
    padding: 10px 5px;
}
.fa-trash-can{
    margin-left: 40px;
    color: darkcyan;
    margin-right: 0px;
}
.fa-trash-can:hover{
    color: red;
}
.fa-phone:hover,.phn:hover{
    color: blue;
}
.fa-sm{
    margin-right: 5px;
    color: darkcyan;
}
td .a {
    float: right;
}
input{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.PHONE,.NAME{
    border: none;
}
input[type="submit"]{
    border: 1px solid black;
    padding:3px 18px;
}
h3{
    text-align: center;
}
.tickBtn{
    border:none;
    outline: none;
    background: transparent;
    margin: 0px;
    padding: 0px;
}
.fa-check{
    display: none;
}
.td {
    display: flex;
    align-items: center;
}
#tr{
   position: relative; 
}
.edit{
    position: absolute;
    top:50%;
    right: 30px;
}
.edit:hover{
    color: rgb(0, 255, 0);
    cursor: pointer;
}
#dv_2 {
    display: flex;
    max-height: 75vh;
    overflow: scroll;
    justify-content: center;
    margin-top: 23px;
}
#dv_2::-webkit-scrollbar{
    display: none;
}
#dv_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.phne,.phn{
    color: #000000;
}
.tdno{
    text-decoration: none;
}
#submit{
    cursor: pointer;
}
@media only screen and (max-width:280px){
    .edit{
        top:65%;
    }
}